* {
    font-family: 'Roboto Condensed', sans-serif;
}

#contacts-table {
    width: 75%;
    margin: 24px auto;
    background: #464e58;
}
#contacts-table thead th {
    border: inherit;
}
#contacts-table tbody tr {
    background: whitesmoke;
    color: #464e58;
}
#contacts-table tbody tr:hover {
    background: #dedede;
}

.filter-field-wrap {
    width: 75%;
    margin: auto;
}
.filter-field-wrap input, select {
    width: 100%
}
.filter-field-wrap select {
    padding: 4px;
    border-radius: 4px;
}

.header {
    width: 100%;
    background: #0075a7;
    text-align: center;
    margin-bottom: 22px;
    padding: 16px;
}

.header h1 {
    display: inline-block;
    color: whitesmoke;
}

td i {
    cursor: pointer;
}

#fab {
    position: fixed;
    bottom: 16px;
    right: 16px;
    font-size: 42px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: #0075a7;
}

input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #d4d0d0;
    width: 75%;
    margin: 8px auto;
    background: #fdfdfd;
}
input:focus {
    outline: none !important;
    border: 2px solid #0075a7;
}

.modal-body {
    text-align: center;
}

.btn-primary {
    background: #0075a7;
}
.btn-primary:hover {
    background: #006291;
}

.contacts-options {
    display: flex;
    justify-content: space-evenly;
}

.th-options {
    text-align: center;
}